
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

<style>
    .form-group {
        color: black;
        border-color: black;
    }

    .form-control {
        border-color: black;
        color: black;
    }
</style>
@model StarBusEnterprise.FormViewModel.MAinViewModel

<div class="container text-center">
    <h2 class="py-3" style="color: darkorange">Book Ticket Now!</h2>

    <div class="text-left">
        <div class="row">
            <form id="ticketbookingForm" enctype="multipart/form-data">



                <div class="row">
                    <div class="col col-lg-7" style="padding:0px;">

                        @*LEAVING FROM*@
                        <div class="form-group row">

                            <div class="col col-lg-4">
                                <label class="col-form-label" for="CFrom">From:</label>
                            </div>
                            <div class="col col-lg-8"  style="width:200px">
                                <select class="form-control" id="CFrom" name="CFrom" data-val="true" data-val-required="Please Select.">
                                    <option selected disabled>--select--</option>
                                    @foreach (var item in Model.StartFromTables)
                                    {
                                        <option value="@item.Id">@item.StartPoint</option>
                                    }
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="CFrom" data-valmsg-replace="true"></span>
                            </div>

                        </div>

                        @*TO DESTINATION*@
                        <div class="form-group row">

                            <div class="col-lg-4 col">
                                <label class="col-form-label"  for="CTo">To:</label>
                            </div>
                            <div class="col-lg-8 col"  style="width:200px">
                                <select class="form-control" id="CTo" name="CTo" data-val="true" data-val-required="Please Select Destination.">
                                    @*PARTIAL VIEW*@
                                    <option disabled selected>--select--</option>
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="CTo" data-valmsg-replace="true"></span>
                            </div>

                        </div>

                        @*DEPART ON*@
                        <div class="form-group row">

                            <div class="col-lg-4 col">
                                <label class="col-form-label" for="CDate">Depart on:</label>
                            </div>
                            <div class="col-lg-8 col"  style="width:200px">
                                <select class="form-control" id="CDate" name="CDate" data-val="true" data-val-required="Please Select Date.">
                                    <option disabled selected>--select--</option>
                                    @*PARTIAL VIEW*@
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="CDate" data-valmsg-replace="true"></span>
                            </div>

                        </div>

                        @*TIME*@
                        <div class="form-group row">

                            <div class="col-lg-4 col">
                                <label class="col-form-label" for="CTime">Time:</label>
                            </div>
                            <div class="col-lg-8 col"  style="width:200px">
                                <select class="form-control" id="CTime" name="CTime" data-val="true" data-val-required="Please Select Time.">
                                    <option disabled selected>--select--</option>
                                    @*PARTIAL VIEW*@
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="CTime" data-valmsg-replace="true"></span>
                            </div>

                        </div>

                        @*SEAT NUMBER*@
                        <div class="form-group row">

                            <div class="col-lg-4 col"  style="width:200px">
                                <label class="col-form-label" for="Seatnumber">Seat Number:</label>
                            </div>
                            <div class="col-lg-8 col">
                                <input type="text" id="Seatnumber" name="Seatnumber" data-val="true" data-val-required="Select at least One Seat." class="form-control" value="@Model.Passengerinfo.Seatnumber" readonly>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Seatnumber" data-valmsg-replace="true"></span>
                            </div>

                        </div>

                        @*SHOW RENT*@
                        <div class="form-group row" id="ratebox" style="display:none;">

                            <div class="col-lg-4 col">
                                <label class="col-form-label" for="RatePerSeat">Rate:</label>
                            </div>
                            <div class="col-lg-8 col"  style="width:200px">
                                <input type="text" id="RatePerSeat" name="RatePerSeat" data-val="true" class="form-control" value="" readonly>
                                <span class="field-validation-valid text-danger" data-valmsg-for="RatePerSeat" data-valmsg-replace="true"></span>
                            </div>

                        </div>
                    </div>

                    
                        <div class="col col-lg-5" id="cConfirmation">
                        
                    </div>

                </div>
               
            </form>



            <div class="col col-lg-7" id="busseats">
                @*BUS SEATS HOW HERE*@
            </div>
        </div>

        @*<div class="row">
            <div class=" col-sm text-right" id="gobtn">
                <a onclick="bookticket()">
                    <img src="~/Images/btn_go.gif" />
                </a>
            </div>
        </div>*@
    </div>
</div>

<script>
    var destinationID = 0;
    $(document).ready(function () {


    });

    //AJAX FOR DESTINATION SELECTION
    $('#CFrom').on('change', function (e) {
        var valueSelected = this.value;
        $.ajax(
            {
                url: "/Admin/Booking/Destinationlist/" + valueSelected,
                method: "GET",
                data: valueSelected,
                success: function (result) {
                    $("#CTo").html(result);
                    $("#CTo").val("--select--");
                    $("#CDate").val("--select--");
                    $("#CTime").val("--select--");
                    $('#ratebox').attr("style", "display : none;");
                }
            });
    });

    //AJAX FOR DATE SELECTION
    $('#CTo').on('change', function (e) {
        var valueSelected = this.value;
        destinationID = valueSelected;
        $.ajax(
            {
                url: "/Admin/Booking/DeptOn/" + valueSelected,
                method: "GET",
                data: valueSelected,
                success: function (result) {
                    $("#CDate").html(result);
                    $("#CDate").val("--select--");
                    $("#CTime").val("--select--");
                    $('#ratebox').attr("style", "display : none;");
                }
            });
    });

    //AJAX FOR TIME SELECTION
    $('#CDate').on('change', function (e) {
        //var valueSelected = $("#CTo").valueSelected;
        $.ajax(
            {
                url: "/Admin/Booking/Depttime/" + destinationID,
                method: "GET",
                data: destinationID,
                success: function (result) {
                    $("#CTime").html(result);
                    $("#CTime").val("--select--");
                    $('#ratebox').attr("style", "display : none;");
                }
            });
    });

    //AJAX FOR SHOW BUS SEATS
    $('#CTime').on('change', function (e) {
        var date = $("#CDate").val();
       
        var id = $("option:selected", $("#CTime")).attr("var-id");
        $.ajax(
            {
                url: "/Admin/Booking/selectSeat/",
                method: "GET",
                data: { id: id, date: date },
                success: function (result) {
                    $("#busseats").html(result); 
                    bookedSeats();
                    $('#CTo').attr("readonly", 'readonly');
                    $('#CDate').attr("readonly", 'readonly');
                    $('#CTime').attr("readonly", 'readonly');
                    $('#CFrom').attr("readonly", 'readonly');
                    $('#ratebox').removeAttr("style");
                }
            });
    });

    //CHECK FOR BOOKED SEATS
    function bookedSeats() {
        for (i = 1; i < 32; i++) {
            var s = "s" + i;
            if ($("#" + s).val() == "b") {
                $('#' + s).attr("src", "/Images/booked_seat_img.gif");
                $('#' + s).attr("disabled", 'disabled');
            }
        }
    }

    //AJAX CALL FOR BOOK TICKET
    function bookticket() {
        var formdata = $('#ticketbookingForm').serialize();
        event.preventDefault();
        var $form1 = $('#ticketbookingForm');
        if ($form1.valid()) {
            $.ajax(
                {
                    url: "/Admin/Booking/BookTicket/",
                    method: "POST",
                    data: formdata,
                    success: function () {
                        swal({
                            title: "Success!",
                            text: "Data Save Sucessfuly!",
                            icon: "success",
                        }).then(function () { window.location.reload(); });
                    }
                });
        }
    }
</script>