@model StarBusEnterprise.FormViewModel.MAinViewModel
<style>
    a{
        text-decoration:none;
        padding:5px;
    }

    a:hover{
        text-decoration:none;
        padding:5px;
        background-color:lightblue;
    }
</style>
<div class="container">
    <div class="row">
       
        <div class="col text-center col-lg-12">
            <a class="" href="/StarBus/Index/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <a class="" onclick="displayp1()"><i class="fas fa-user-secret"></i> Agent</a>
            <a class="" onclick="displayp2()"><i class="fas fa-info"></i> About</a>
            <a class="" onclick="displayp3()"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a>
            <a class="" onclick="displayp4()"><i class="fas fa-comments"></i> FeedBack</a>
            <a class="" onclick="displayp5()"><i class="fas fa-id-card-alt"></i> Contact Us</a>
            <a class="" onclick="displayp6()"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
            <a class="" onclick="displayp7()"><i class="fas fa-ticket-alt"></i> Book</a>
            <br />
            <br />
        </div>
    </div>
    <div class=" row">
        <div class="col col-lg-12" style="text-align:center;"><img alt="bus" src="/Images/volvo-bus-final.gif"></div>
    </div>
    

    <div id="partialv">
        @*<partial name="Accounts" />*@
        <div class="container">
            <div class="row" style="padding:10px;margin-top:20px;">
                <div class="col col-lg-6">

                    <div class="row">
                        <hr style="color:black;" />
                        <div class="col col-lg-12">
                            <h5> Call for bus tickets and home delivery service</h5>
                        </div>
                        <div class="col col-lg-12">
                            @foreach (var item in Model.HomeDeliveryAddressInfo)
                            {
                                <div class="row">
                                    <div class="col col-lg-4" style="font-size:15px;text-align:center;">  @Html.DisplayFor(modelItem => item.homedeliveryserviceName)</div>
                                    <div class=" col col-lg-3" style="font-size:15px;text-align:center;">: ( @Html.DisplayFor(modelItem => item.AreaCode) )</div>
                                    <div class="col col-lg-3" style="font-size:15px;text-align:center;">  @Html.DisplayFor(modelItem => item.homedeliveryserviceContact)</div>

                                </div>

                            }
                        </div>
                    </div>


                </div>
                <div class="col col-lg-6">


                    <div class="row">
                        <hr style="color:black;" />
                        <div class="col col-lg-12">
                            <h5>Starbus Advantage</h5>
                        </div>
                        <div class="col col-lg-12">
                            @foreach (var item in Model.Advantagess)
                            {

                                <div class="col col-lg-12 border-0">
                                    @Html.DisplayFor(modelItem => item.AdvantageName)
                                </div>

                            }

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
<div id="invoiceDiv">

</div>
    </div>
<script>
    function displayp1() {

        $.ajax({
            url: "/StarBus/AgentBasicInfo/",
            method: "GET",
            success: function (result) {
                $('#partialv').html(result);
                $('#table1').hide();
                $('#iline').hide();
                $('#Index').hide();
            }
        });
    }

    function displayp2() {
        $.ajax({
            url: "/StarBus/AboutUs/",

            method: "GET",
            success: function (result) {
                $('#partialv').html(result);
                $('#table1').hide();
                $('#iline').hide();
                $('#Index').hide();
            }
        });
    }

    function displayp3() {
        $.ajax({
            url: "/StarBus/Faq/",

            method: "GET",
            success: function (result) {
                $('#partialv').html(result);
                $('#table1').hide();
                $('#iline').hide();
                $('#Index').hide();
            }
        });
    }
    function displayp4() {
        $.ajax({
            url: "/StarBus/FeedbackForm/",

            method: "GET",
            success: function (result) {
                $('#partialv').html(result);
                $('#table1').hide();
                $('#iline').hide();
                $('#Index').hide();
            }
        });
    }
    function displayp5() {
        $.ajax({
            url: "/StarBus/ContactUs/",

            method: "GET",
            success: function (result) {
                $('#partialv').html(result);
                $('#table1').hide();
                $('#iline').hide();
                $('#Index').hide();
            }
        });
    }
    function displayp6() {
        $.ajax({
            url: "/Admin/Booking/SearchTicket/",

            method: "GET",
            success: function (result) {
                $('#partialv').html(result);
                $('#table1').hide();
                $('#iline').hide();
                $('#Index').hide();
            }
        });
    }
    function displayp7() {
        $.ajax({
            url: "/StarBus/BookTicketUser/",

            method: "GET",
            success: function (result) {
                $('#partialv').html(result);
                $('#table1').hide();
                $('#iline').hide();
                $('#Index').hide();
            }
        });
    }
    function createCategory() {
       
        $.ajax(
            {
                url: "/StarBus/AgentBasicInfo/",
                method: "GET",


                success: function (result) {

               

                }




            });


       


    }
</script>