@model IEnumerable<StarBusEnterprise.Models.DomainWork.TermsAndConditionsDbset>

@{ 
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center;font-size:20px;">
                @Html.DisplayNameFor(model => model.TermsAndConditions)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="font-size:15px;">
               <b>*</b> @Html.DisplayFor(modelItem => item.TermsAndConditions)
            </td>
            
        </tr>
}
    </tbody>
</table>
