
@{
  var resultBusNumber=  ViewBag.resultBusNumber;
  var resultAgentBasic=  ViewBag.resultAgentBasic ;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col col-lg-12 text-center">
            <h1 class="col-lg-12 col">StarBus Enterprise</h1>

        </div>



        <div class="col text-center col-lg-12" style="padding:20px">

            <p style="        background-color: #b0c4de; padding:10px;">
                <b style="font-size:20px;">

                    Number Of Bus	:	@resultBusNumber <br />
                    Number Of Agent	:	@resultAgentBasic
                </b>
            </p>



        </div>


        <div class="col col-lg-12">
            <p>
                <a class="btn btn-light" href="/Admin/Advantages/">Advantages</a>
                <a class="btn btn-light" href="/Admin/HomeDeliveryAddressInfo/">HomeDeliveryInfo</a>
                <a class="btn btn-light" href="/Admin/TermsAndConditionsDbset/">TermsAndConditions</a>

                <a class="btn btn-light" href="/Admin/StartJourney/">StartJourney</a>
                <a class="btn btn-light" href="/Admin/Booking/">Booking</a>
                <a class="btn btn-light" href="/Admin/Destination/">Destination</a>
                <a class="btn btn-light" href=" /Admin/TimeList/">TimeList</a>
                <a class="btn btn-light" href=" /Admin/Passengerinfo/">Passenger Info</a>
            </p>





        </div>
    </div>



     </div>