
@{
  var resultBusNumber=  ViewBag.resultBusNumber;
  var resultAgentBasic=  ViewBag.resultAgentBasic ;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col col-lg-12 text-center">
            <h1 class="col-lg-12 col">StarBus Enterprise</h1>

        </div>



        <div class="col text-center col-lg-12" style="padding:20px">

            <p style="        background-color: #b0c4de; padding:10px;">
                <b style="font-size:20px;">

                    Number Of Bus	:	@resultBusNumber <br />
                    Number Of Agent	:	@resultAgentBasic
                </b>
            </p>



        </div>
    </div>



     </div>