
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}




@model IEnumerable<StarBusEnterprise.Models.DomainWork.StartFromTable>

<head>
    <link href="~/css/AreaAdmin.css" rel="stylesheet" />
   

</head>
@*<script src="~/js/js/BlockUi.js"></script>*@

<div id="spinner" style="display:none;padding: 326px 656px 322px 673px; position:absolute;left:0px;top:0px;background-color:rgba(0, 0, 0, 0.69); ">
    <img id="img-spinner" src="/images/Loader/Ajaxloader.gif" alt="loading" />
</div>
<form>

    <h1 class="text-center"> StarBus Start Point </h1> @Html.AntiForgeryToken()
    <div>
        <p>
            <a class="btn btn-success btn-group" onclick="createCategory()"> New Entry</a>
        </p>


        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Begining point of journey
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartPoint)
                        </td>
                       
                        <td>
                            <a class="btn btn-outline-light" onclick="showDetails(@item.Id)"><i class="fas fa-pen-square" id="EditLogo"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">


                </div>*@
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="myDiv">

                </div>
            </div>
        </div>

    </div>
</div>
<div id="domMessage" style="display:none;">
    <h1>We are processing your request.  Please be patient.</h1>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous"></script>
<script>

    function createCategory() {
        ////$.blockUI();
        //$.blockUI({ message: $('#domMessage') });


        $('#spinner').show();

        var delay = 2000;
        $.ajax(
            {
                url: "/Admin/StartJourney/Create/",
                method: "GET",


                success: function (result) {

                    setTimeout(function () {
                        $("#myDiv").html(result);

                        $("#myModal").modal("show");
                        $('#spinner').hide();
                    }, delay);
                    //$("#myDiv").html(result);

                    //$("#myModal").modal("show");
                    //$('#spinner').hide();

                }




            });


        //setTimeout($.unblockUI, 2000);


    }
    function showDetails(userid) {
        $.ajax(
            {
                url: "/Admin/StartJourney/Create/",
                method: "GET",
                data: { id: userid },
                success: function (result) {
                    //                   window.location.href = "/ManageClients1/_Create/" + userid;
                    $("#myDiv").html(result);
                    $("#myModal").modal("show");

                }
            });
    }



</script>

