
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<head>
    <style type="text/css" media="screen">
        td, th {
            color: black;
        }

        #spinner {
            position: fixed;
            top: 50%;
            left: 50%;
            background-color: white;
        }
    </style>

</head>
@*<script src="~/js/js/BlockUi.js"></script>*@

<div id="spinner" style="display:none;padding: 326px 656px 322px 673px; position:absolute;left:0px;top:0px;background-color:rgba(0, 0, 0, 0.69); ">
    <img id="img-spinner" src="/images/Loader/Ajaxloader.gif" alt="loading" />
</div>
<div>
    <p>
        <a class="btn btn-success btn-group" onclick="createCategory()"> Register</a>
    </p>
    <p>
        <a class="btn btn-success btn-group" onclick="login()"> Login</a>
    </p>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myDiv">

            </div>
        </div>

    </div>
</div>
<script>

    function createCategory() {
        ////$.blockUI();
        //$.blockUI({ message: $('#domMessage') });


        $('#spinner').show();

        var delay = 2000;
        $.ajax(
            {
                url: "/Account/Create/",
                method: "GET",


                success: function (result) {

                    setTimeout(function () {
                        $("#myDiv").html(result);

                        $("#myModal").modal("show");
                        $('#spinner').hide();
                    }, delay);
                    //$("#myDiv").html(result);

                    //$("#myModal").modal("show");
                    //$('#spinner').hide();

                }




            });


        //setTimeout($.unblockUI, 2000);


    }

    function login() {
        ////$.blockUI();
        //$.blockUI({ message: $('#domMessage') });


        $('#spinner').show();

        var delay = 2000;
        $.ajax(
            {
                url: "/Account/Login/",
                method: "GET",


                success: function (result) {

                    setTimeout(function () {
                        $("#myDiv").html(result);

                        $("#myModal").modal("show");
                        $('#spinner').hide();
                    }, delay);
                    //$("#myDiv").html(result);

                    //$("#myModal").modal("show");
                    //$('#spinner').hide();

                }




            });


        //setTimeout($.unblockUI, 2000);


    }
</script>