body {
}
td, th {
    color: black;
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
}
.modal.show .modal-dialog {
    transform: none;
    color: black;
}


td, th {
    color: black;
    font-size: 13px;
    border: 1px solid;
    background-color: lightgray;
    padding: 10px;
}

th {
    background-color: lightblue;
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
}

.table thead th {
    border-top: 1px solid #000000;
    vertical-align: bottom;
    border-bottom: 2px solid #000000;
}

#EditLogo {
    padding: 0px;
    margin: -12px;
    font-size: 32px;
}