<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarBusEnterprise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-4/css/all.css" integrity="sha256-hEaRhQB6SD6wv8TNR7WQl6h3RPDP/+h/toTbEoM0BtM=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-4/css/all.css" integrity="sha256-hEaRhQB6SD6wv8TNR7WQl6h3RPDP/+h/toTbEoM0BtM=" crossorigin="anonymous" />

</head>
<body>
  
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
            <div class="container">
                <a class="navbar-brand text-center" asp-area="" asp-controller="StarBus" asp-action="Index">   <img  src="/Images/logo.gif" alt="StarBus Logo" width="100"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">







                     
                     

                        <li class="nav-item">
                            <a class="btn btn-light" href="/StarBus/Index/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" onclick="displayp1()"><i class="fas fa-user-secret"></i> Agent</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" onclick="displayp2()"><i class="fas fa-info"></i> About</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" onclick="displayp3()"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" onclick="displayp4()"><i class="fas fa-comments"></i> FeedBack</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" onclick="displayp5()"><i class="fas fa-id-card-alt"></i> Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" onclick="displayp6()"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" onclick="displayp7()"><i class="fas fa-ticket-alt"></i> Book</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - StarBusEnterprise - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                              <a onclick="TermsAndConditions()"> TermsAndConditions</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>

<script>
    function TermsAndConditions() {
      

        $.ajax(
            {
                url: "/StarBus/TermsAndCondition/",
                method: "GET",


                success: function (result) {

                 
                        $("#myDiv").html(result);

                        $("#myModal").modal("show");
                 
                }




            });


      

    }
</script>